<server description="Stock Quote server">
    <featureManager>
        <feature>microProfile-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>jca-1.7</feature>
        <feature>jms-2.0</feature>
<!--    <feature>wasJmsClient-2.0</feature> -->
        <feature>wmqJmsClient-2.0</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9443" host="*" id="defaultHttpEndpoint"/>

    <authData id="MQ-Credentials" user="${env.MQ_ID}" password="${env.MQ_PASSWORD}"></authData>

    <variable name="wmqJmsClient.rar.location" value="/config/wmq.jmsra.rar" />
    <jmsQueueConnectionFactory id="NotificationQCF" jndiName="jms/Portfolio/NotificationQueueConnectionFactory" containerAuthDataRef="MQ-Credentials">
        <properties.wmqJms 
            transportType="CLIENT"
            hostName="${env.MQ_HOST}" 
            port="${env.MQ_PORT}"
            channel="${env.MQ_CHANNEL}"
            queueManager="${env.MQ_QUEUE_MANAGER}"/>
    </jmsQueueConnectionFactory>
    <jmsQueue id="NotificationQ" jndiName="jms/Portfolio/NotificationQueue">
        <properties.wmqJms baseQueueName="${env.MQ_QUEUE}" baseQueueManagerName="${env.MQ_QUEUE_MANAGER}"/>
    </jmsQueue>

<!--
    <jmsQueueConnectionFactory id="NotificationQCF" jndiName="jms/Portfolio/NotificationQueueConnectionFactory">
        <properties.wasJms remoteServerAddress="messaging-engine-service:7276:BootstrapBasicMessaging"/>
    </jmsQueueConnectionFactory>
    <jmsQueue id="NotificationQ" jndiName="jms/Portfolio/NotificationQueue">
        <properties.wasJms queueName="NotificationQ"/>
    </jmsQueue>
-->

    <webApplication id="LoyaltyLevel" location="LoyaltyLevel.war" name="LoyaltyLevel" contextRoot="/loyalty-level"/>
</server>
