<server description="Stock Quote server">
    <!-- Enable features -->
    <featureManager>
        <feature>microProfile-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>jca-1.7</feature>
        <feature>jms-2.0</feature>
        <feature>wmqJmsClient-2.0</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9443" host="*" id="defaultHttpEndpoint"/>

    <variable name="wmqJmsClient.rar.location" value="/config/wmq.jmsra.rar" />
    <jmsQueueConnectionFactory id="NotificationQCF" jndiName="jms/Portfolio/NotificationQueueConnectionFactory">
        <properties.wmqJms 
            transportType="CLIENT"
            hostName="${env.MQ_HOST}" 
            port="${env.MQ_PORT}"
            channel="${env.MQ_CHANNEL}"
            queueManager="${env.MQ_QUEUE_MANAGER}"/>
    </jmsQueueConnectionFactory>
    <jmsQueue id="NotificationQ" jndiName="jms/Portfolio/NotificationQueue">
        <properties.wmqJms baseQueueName="${env.MQ_QUEUE}" baseQueueManagerName="${env.MQ_QUEUE_MANAGER}"/>
    </jmsQueue>

    <webApplication id="LoyaltyLevel" location="LoyaltyLevel.war" name="LoyaltyLevel" contextRoot="/loyalty-level"/>
</server>
