<server description="Loyalty Level server">
    <featureManager>
        <feature>microProfile-1.2</feature>
        <feature>appSecurity-2.0</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9443" host="*" id="defaultHttpEndpoint"/>

    <keyStore id="defaultKeyStore" password="passw0rd"/>

    <logging consoleLogLevel="INFO" traceSpecification="*=info"/>

    <basicRegistry id="basic" realm="BasicRegistry">
    	<user name="admin" password="admin"/>
    	<user name="stock" password="trader"/>
        <user name="debug" password="debug"/>
    	<user name="read"  password="only"/>
    	<user name="other" password="other"/> <!-- ID with no access to Stock Trader -->
    	<group name="StockTrader">
    		<member name="stock"/>
    		<member name="debug"/>
    	</group>
    	<group name="StockViewer">
    		<member name="read"/>
    	</group>
    </basicRegistry>

    <administrator-role>
    	<user>admin</user>
    </administrator-role>

    <webApplication id="LoyaltyLevel" location="LoyaltyLevel.war" name="LoyaltyLevel" contextRoot="/loyalty-level"/>
</server>
